---
export interface Props{
    href:string,
    text:string,
}
const {href, text} = Astro.props
---
<li>
    <a href={href} class="duration-300 font-medium ease-linear text-white hover:text-red-700 py-3">
        {text}
    </a>
</li>