---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
// import ByNumber from "./ByNumber.astro";

---

<section class="w-full relative">
  <div class="w-full h-[877px] px-[180px] bg-white justify-center items-center inline-flex">
    <div class="grow shrink basis-0 self-stretch py-[70px] flex-col justify-start items-center gap-[83px] inline-flex">
      <div class="self-stretch justify-between items-center gap-[214px] inline-flex">
        <div class="w-[504px] self-stretch flex-col justify-center items-center gap-2.5 inline-flex">
          <div class="self-stretch text-neutral-800 text-4xl font-bold">Say something about your business here</div>
          <div class="self-stretch text-neutral-500 text-2xl font-normal">Lorem ipsum dolor sit amet consectetur. Velit diam proin risus maecenas et. A morbi diam non facilisis. Non tellus metus id faucibus urna blandit quis. Aliquam magna tristique semper in netus erat imperdiet.</div>
        </div>
        <div class="w-[512px] h-[350px] relative">
          <div class="w-[512px] h-[350px] left-0 top-0 absolute bg-zinc-100"></div>
        </div>
      </div>
      <div class="self-stretch justify-between items-start gap-[94px] inline-flex">
        <div class="w-[512px] px-12 py-[62px] bg-red-700 rounded-[20px] border-2 border-neutral-800 flex-col justify-start items-center gap-[37px] inline-flex">
          <div class="self-stretch text-neutral-100 text-[32px] font-semibold">Vision</div>
          <div class="self-stretch text-neutral-100 text-2xl font-normal">Lorem ipsum dolor sit amet consectetur. Nulla in diam eleifend diam. Tincidunt risus.</div>
        </div>
        <div class="w-[512px] px-12 py-[62px] bg-red-700 rounded-[20px] border-2 border-neutral-800 flex-col justify-start items-center gap-[37px] inline-flex">
          <div class="self-stretch text-neutral-100 text-[32px] font-semibold">Mission</div>
          <div class="self-stretch text-neutral-100 text-2xl font-normal">Lorem ipsum dolor sit amet consectetur. Nulla in diam eleifend diam. Tincidunt risus.</div>
        </div>
      </div>
    </div>
  </div>
</section>
