---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
// import ByNumber from "./ByNumber.astro";

---

<section class="w-full relative">
  <div class="w-full h-[820px] px-[180px] bg-white justify-center items-center inline-flex">
    <div class="grow shrink basis-0 self-stretch py-[70px] bg-white flex-col justify-start items-center gap-[30px] inline-flex">
      <div class="text-justify text-neutral-800 text-4xl font-bold">Find us</div>
      <div class="self-stretch justify-start items-start gap-[42px] inline-flex">
        <div class="w-[601px] h-[601px] relative">
          <div class="w-[601px] h-[601px] left-0 top-0 absolute border-2 border-red-700">
            <div class="w-[601px] h-[601px] left-0 top-0 absolute bg-zinc-100"></div>
            <div class="w-[601px] h-[601px] left-0 top-0 absolute">
              <div class="w-[601px] h-[601px] left-0 top-0 absolute bg-stone-300"></div>
              <div class="w-[264px] h-[543.24px] left-[32px] top-[33px] absolute">
              </div>
            </div>
            <div class="w-9 h-[489px] left-[549px] top-[56px] absolute">
              <div class="w-9 h-9 left-0 top-[45px] absolute">
                <div class="w-9 h-9 left-0 top-0 absolute bg-zinc-900 rounded-full"></div>
              </div>
              <div class="w-9 h-9 left-0 top-[453px] absolute">
                <div class="w-9 h-9 left-0 top-0 absolute bg-zinc-900 rounded-full"></div>
              </div>
              <div class="w-9 h-9 left-0 top-0 absolute">
                <div class="w-9 h-9 left-0 top-0 absolute bg-zinc-900 rounded-full"></div>
              </div>
            </div>
            <div class="w-[88px] h-[48.43px] left-[217px] top-[326px] absolute">
              <div class="w-4 h-4 left-[42px] top-[32.43px] absolute bg-red-700 rounded-full border border-white"></div>
            </div>
          </div>
          <div class="w-[103px] h-[103px] left-[242.25px] top-[90px] absolute origin-top-left rotate-[79.42deg]">
            <div class="w-[53px] left-[24.82px] top-[74.07px] absolute origin-top-left rotate-[-79.42deg] text-justify text-white text-base font-normal">We are here!</div>
          </div>
        </div>
        <div class="flex-col justify-center items-start gap-[25px] inline-flex">
          <div class="justify-start items-center gap-[30px] inline-flex">
            <div class="w-[47px] h-[47px] px-[9.79px] py-[3.92px] justify-center items-center flex"></div>
            <div class="text-justify text-black text-2xl font-normal">Some street, City, State</div>
          </div>
          <div class="justify-start items-center gap-[30px] inline-flex">
            <div class="w-[47px] h-[47px] p-[5.88px] justify-center items-center flex"></div>
            <div class="text-justify text-black text-2xl font-normal">+1 234 567 890</div>
          </div>
          <div class="justify-start items-center gap-[30px] inline-flex">
            <div class="w-[47px] h-[47px] px-[2.54px] justify-center items-center flex"></div>
            <div class="text-justify text-black text-2xl font-normal">Jane Doe Shop</div>
          </div>
          <div class="justify-start items-center gap-[30px] inline-flex">
            <div class="w-[47px] h-[47px] justify-center items-center flex"></div>
            <div class="text-justify text-black text-2xl font-normal">@janedoeshop</div>
          </div>
          <div class="justify-start items-center gap-[30px] inline-flex">
            <div class="w-[47px] h-[47px] py-[0.14px] justify-center items-center flex"></div>
            <div class="text-justify text-black text-2xl font-normal">Jane Doe Shop</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
