---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
// import ByNumber from "./ByNumber.astro";

---

<section class="w-full relative">
  <div class="w-full h-[331px] px-[180px] bg-red-700 justify-center items-center inline-flex">
    <div class="grow shrink basis-0 self-stretch py-[70px] justify-between items-start gap-[133px] inline-flex">
      <div class="justify-start items-start gap-[79px] flex">
        <div class="flex-col justify-start items-start gap-[25px] inline-flex">
          <div class="text-justify text-neutral-100 text-2xl font-semibold">Title</div>
          <div class="flex-col justify-start items-start gap-[15px] flex">
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
          </div>
        </div>
        <div class="flex-col justify-start items-start gap-[25px] inline-flex">
          <div class="text-justify text-neutral-100 text-2xl font-semibold">Title</div>
          <div class="flex-col justify-start items-start gap-[15px] flex">
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
          </div>
        </div>
        <div class="flex-col justify-start items-start gap-[25px] inline-flex">
          <div class="text-justify text-neutral-100 text-2xl font-semibold">Title</div>
          <div class="flex-col justify-start items-start gap-[15px] flex">
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
          </div>
        </div>
        <div class="flex-col justify-start items-start gap-[25px] inline-flex">
          <div class="text-justify text-neutral-100 text-2xl font-semibold">Title</div>
          <div class="flex-col justify-start items-start gap-[15px] flex">
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
          </div>
        </div>
        <div class="flex-col justify-start items-start gap-[25px] inline-flex">
          <div class="text-justify text-neutral-100 text-2xl font-semibold">Title</div>
          <div class="flex-col justify-start items-start gap-[15px] flex">
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
            <div class="text-justify text-neutral-100 text-base font-normal">Link</div>
          </div>
        </div>
      </div>
      <div class="flex-col justify-start items-start gap-[22px] inline-flex">
        <div class="w-[376px] justify-start items-start gap-[29px] inline-flex">
          <img class="w-[103px] h-[103px]" src="https://via.placeholder.com/103x103" />
          <div class="grow shrink basis-0 flex-col justify-start items-start gap-5 inline-flex">
            <div class="self-stretch text-justify text-neutral-100 text-base font-normal">Sign up now to receive early promo updates</div>
            <div class="px-[54px] py-2.5 bg-white rounded-[30px] border border-neutral-800 justify-center items-center gap-2.5 inline-flex">
              <div class="w-[65px] text-neutral-700 text-base font-normal">Sign Up</div>
            </div>
          </div>
        </div>
        <div class="justify-start items-start gap-[25px] inline-flex">
          <div class="w-6 h-6 justify-center items-center flex"></div>
        </div>
      </div>
    </div>
  </div>
</section>
