---
import Card from "../shared/Card.astro";

---
<section class="w-full relative">
  <div class="w-full h-[582px] px-64 bg-neutral-800">
    <div class="w-full relative pt-10">
      <div class="text-center text-white text-4xl font-bold">Our products</div>
    </div>
    <div class="w-full relative pt-10">
      <Card name="test"/>
      <div class="self-stretch text-white text-2xl font-normal">See more</div>
  </div>
</section>
