---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
// import ByNumber from "./ByNumber.astro";

---

<section class="w-full relative">
  <div class="w-full h-[561px] px-[180px] bg-neutral-800 justify-center items-center inline-flex">
    <div class="self-stretch py-[70px] flex-col justify-center items-start gap-2.5 inline-flex">
      <div class="flex-col justify-center items-center gap-[30px] flex">
        <div class="self-stretch text-center text-neutral-100 text-4xl font-bold">Testimonials</div>
        <div class="w-[1080px] h-[342px] py-5 bg-white rounded-[20px] justify-center items-center gap-[53px] inline-flex">
          <div class="w-7 pl-[5.60px] pr-[9.33px] py-[1.87px] justify-center items-center flex"></div>
          <div class="flex-col justify-center items-center gap-[17px] inline-flex">
            <div class="justify-center items-center gap-[30px] inline-flex">
              <div class="w-[174px] h-[174px] relative"></div>
              <div class="w-[596px] text-justify"><span style="text-neutral-700 text-2xl font-normal">“Lorem ipsum dolor sit amet consectetur. Sed iaculis enim vivamus commodo luctus tristique convallis neque vitae. Aliquam sed sit at nunc in cursus urna donec ac. Ornare nulla egestas sed tempor mi rhoncus quam. Tempor turpis arcu.” - </span><span style="text-neutral-700 text-2xl font-semibold">John Doe</span></div>
            </div>
          </div>
          <div class="justify-center items-center gap-[43px] flex">
            <div class="w-7 h-7 pl-[3.50px] pr-[1.75px] pt-[3px] pb-[2.25px] justify-center items-center flex"></div>
            <div class="w-7 h-7 pl-[3.50px] pr-[1.75px] pt-[3px] pb-[2.25px] justify-center items-center flex"></div>
            <div class="w-7 h-7 pl-[3.50px] pr-[1.75px] pt-[3px] pb-[2.25px] justify-center items-center flex"></div>
          </div>
          <div class="w-7 pl-[9.33px] pr-[5.60px] py-[1.87px] justify-center items-center flex"></div>
        </div>
      </div>
    </div>
  </div>
</section>
